!**/packages/build/
!*.[Cc]ache/
!.devcontainer/README.md
!.devcontainer/recommended-devcontainer.json
!.devcontainer/recommended-Dockerfile
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
$tf/
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/packages/*
*.*~
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.aps
*.azurePubxml
*.bim.layout
*.bim_*.settings
*.build.csdef
*.cachefile
*.dbmdl
*.dbproj.schemaview
*.dotCover
*.DotSettings.user
*.GhostDoc.xml
*.gpState
*.ilk
*.launch
*.ldf
*.log
*.mdf
*.meta
*.mm.*
*.ncb
*.nupkg
*.obj
*.opendb
*.opensdf
*.opt
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.pyc
*.rdl.data
*.rsp
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.sublime-workspace
*.suo
*.svclog
*.swo
*.swp
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.user
*.userosscache
*.userprefs
*.VisualState.xml
*.vsp
*.vspscc
*.vspx
*.vssscc
*_i.c
*_i.h
*_p.c
*secret.js
*~
.*crunch*.local.xml
.bazelrc.user
.build-analytics
.builds
.c9
.c9/
.classpath
.devcontainer/*
.DS_STORE
.DS_Store
.fake/
.history
.husky/_
.idea
.idea/
.JustCode
.ng-dev.user*
.notes.md
.ntvs_analysis.dat
.nvimrc
.paket/paket.exe
.project
.sass-cache/
.settings/
.vimrc
.vs/
.vscode
.vscode/*
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
/.idea
/.sass-cache
/bazel-out
/connect.lock
/coverage
/dist
/dist/
/e2e/*.js
/e2e/*.map
/integration/bazel/bazel-*
/libpeerconnection.log
/modules/rollup-test/dist/
/node_modules
/out-tsc
/tmp
/typings
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Ee]xpress/
[Oo]bj/
[Oo]ut/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
_Chutzpah*
_NCrunch_*
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
ApplicationInsights.config
AppPackages/
AutoTest.Net/
Backup*/
baseline.json
Bin/
bin/
bld/
build/
BundleArtifacts/
ClientBin/
csx/
dlldata.c
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
ecf/
FakesAssemblies/
Generated_Code/
ipch/
modules/.settings
modules/.vscode
month.txt
msbuild.err
msbuild.log
msbuild.wrn
nCrunchTemp_*
node_modules
npm-debug.log
nupkg/
Obj/
obj/
orleans.codegen.cs
project.lock.json
publish/
pubspec.lock
rcf/
testem.log
TestResult.xml
Thumbs.db
UpgradeLog*.htm
UpgradeLog*.XML
x64/
x86/
yarn-error.log
~$*
