<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

  <!-- Website Title -->

  <a class="navbar-brand" href="#">{{title}}</a>

  <!-- Navigation Toggle -->

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Menu -->

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

      <!-- Home -->

      <li class="nav-item active">
        <a class="nav-link" routerLink="" routerLinkActive="active">Home</a>
      </li>

      <!-- Todos -->

      <li class="nav-item">
        <a class="nav-link" routerLink="todo-list" routerLinkActive="active">Todos</a>
      </li>
    </ul>

  </div>
</nav>
